@page
@model RazorPage.Pages.Admin.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "LayoutAdmin";
}
<div class="d-flex justify-content-between">
    <a asp-page="./Index">
        <img src="~/images/back-icon-3.png" style="padding-left: 30px;" />
    </a>
    <div>
    </div>
    <div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <span class="mx-2 span-custom"><a style="font-weight: 500; color: #5A5A5A; text-decoration: none;" asp-page="./Index">Accounts</a></span>
    <span> / </span>
    <span class="mx-2" style="font-weight: 500; color: #000;">Delete</span>
</div>

<hr />

<div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 0 200px 0 200px;">
    <div class="" style="padding: 30px 30px 30px 30px;">
        <h3>Delete User</h3>
        <div class="w-100 h-25" style="background: #FFF2D6; border-radius: 15px; padding: 20px 10px 20px 10px; margin: 15px 0 20px 0;">
            <p style="color: #FFB316; font-weight: bold;">Are you sure to delete this account?</p>
            <span style="color: #FFB316;">Once you delete your account, there is no going back. Please be certain.</span>
        </div>
        <form method="post">
            <input type="hidden" asp-for="User.UserId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
